.progress {
	margin-top: 20px;
}
.slider-horizontal {
	width: 100% !important;
	margin-bottom: 20px;
}
footer {
	margin-top: 50px;
	padding: 10px;
	color: #666;
	text-align: center;
	border-top: 1px solid #EEE;
}
